#about {
  color: black;
  
}

#image {
  padding: 20px;
  margin: 0;
}
.section-header {
  text-align: center;
  padding: 20px;
  color: black;
}
#about, #menu {
  background-color: antiquewhite;
}
.card {
  padding: 10px 10px;
  
}
.card-title {
  text-align: center;
  text-decoration-line: underline;
  color: burlywood;
}

.card-group {
  font-family: fantasy;
  font-size: 16px;  
}
.place-order {
  background-color: antiquewhite;
  background-image: url(../images/form.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
  width: 100vw;
  /* padding-top: 10px; */
}

.main h2 {
  color: white;
  padding-top: 150px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;  
}
.button {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  color: black;
  padding: 15px 32px;
  padding-right: 30px;
  margin-right: 1%;
  margin-bottom: 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}
.content-two, .content-three, .content-four {
  display: none;
}