#about {
  color: black;
  
}

#image {
  padding: 20px;
  margin: 0;
}
.section-header {
  text-align: center;
  padding: 20px;
  color: black;
}
#about, #menu {
  background-color: antiquewhite;
}
.card {
  padding: 10px 10px;
  
}
.card-title {
  text-align: center;
  text-decoration-line: underline;
  color: burlywood;
}

.card-group {
  font-family: fantasy;
  font-size: 16px;  
}

.content-two, .content-three, .content-four {
  display: none;
}